.signin-form
  background-color #ddd
  min-width: 50%
  justify-content center

  div
    padding .8rem
    label
      font-weight 500
      padding .3rem

  input[type="submit"]
    cursor pointer
    padding .3rem

.push-right
  margin .8rem
  justify-self right